div {
    width: 150px;
    height: 150px;
    background-color: bisque;
    margin: 10px;
    border: 1px solid cornflowerblue;
}

.one1 {
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 10px;
    border: 1px solid cornflowerblue;
}

input:hover {
    background-color: bisque;
    border-radius: 03px;
}
/* Estilos baseados em seletores de ID com pseudo do elemento*/
#myDiv:hover {
    background-color: aqua;
}