.b {
    background-color: aquamarine;
}
.p {
    color: black;
}
.h1 {
    color: crimson;
}
.p2 {
    color: #28B463;
    background-color: ;
    text-align: justify;
    border: 5px dotted #911b6d;
    padding: 10px;
}