body, p {
    padding: 0;
    margin: 0 auto;
    color: #45B39D;
}
.container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100px 450px 150px;
    grid-template-areas: "cabecalho cabecalho" "secao barra-lateral" "rodape rodape";
}
header {
    grid-area: cabecalho;
    background-color: #F5CBA7;
}
section {
    grid-area: secao;
    background-color: #D6EAF8;
}
aside {
    grid-area: barra-lateral;
    background-color: #FAE5D3;
}
footer {
    grid-area: rodape;
    display: flex;
    justify-content: space-evenly;
}
.item1, .item2, .item3 {
    width: 25%;
    background-color: #F5CBA7;
}
.item2 {
    width: 50%;
    margin: 0 2px;
}
.item3 {
    margin: 0;
}
@media(max-width: 768px) {
    .container {
        grid-template-columns: 100%;
        grid-template-areas: "cabecalho" "secao" "barra-lateral" "rodape";
    }
    footer {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .item1, .item2, .item3 {
        margin: 0;
        border: solid 1px #FEF5E7;
        width: 49%;
    }
    .item2 {
        width: 100%;
        order: -1;
    }
}
@media(max-width: 480px) {
    body {
        margin: 0 15px;
    }
    .container, .item1, .item2, .item3{
        width: 100%;
    }
    .item2 {
        order: initial;
    }
}